.wrapper {
    display: flex;
    margin: 0 auto;
}

.form {
    max-width: 200px;
    font-size: 20px;
    padding: .5rem 2rem .5rem 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}

.form div {
    margin-bottom: .2rem;
    display: grid;
}

.text {
    min-width: 180px;
    margin-top: .2rem;
}

.error {
    font-size: 12px;
    border-radius: 50%;
    border: dashed 1px red;
    color: crimson;
}