.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: aqua;
    padding: .3rem 0 .3rem .3rem;
}
.sidebar a{
    text-decoration: none;
    color: black;
}

.sidebar a .active{
    color: gray;
}
