.wrapper {
    min-height: 100%;
    border-radius: 5px;
    background: cornflowerblue;
}

.wrapper img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
    padding: .2rem .2rem 0 .2rem;
}

.wrapper textarea {
    border-radius: 3px;
    width: 35%;
    margin: 4px 0 0 4px;
}

.add {
    cursor: pointer;
    border-radius: 5px;
    border: 1px gray solid;
    background: #6495ed;
    margin: 0 5px 8px;
    color: white;
}

.content {
    font-size: 16px;
    background: #d4ffdd;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 7fr 5fr;
}

.contacts {
    margin-left: 5%;
}

.posts {
    margin: 2px;
    border-radius: 5px;
    background: #ececec;
}

.posts img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 15px;
    padding: .2rem;
}

.post {
    display: flex;
}

.comment {
    border-radius: 5px;
    border: 1px black solid;
    padding: .2rem;
    margin: .2rem;
}

.like {
    cursor: pointer;
    padding: .4rem;
}

.status {
    margin-right: 5px;
    background: honeydew;
    padding: 2px;
}

.wrapperStatus {
    margin-top: 7px;
}

.wrapperCustomField {
    display: flex;
}

.buttonChangeInfo {
    margin-top: 14px;
}