.header {
    display: inline-block;
    width: 100%;
    position: relative;
}

.imageForHeader {
    width: 100%;
    height: 100%;
}

.containerAuthorization {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 10%;
    float: right;
    text-align: center;
}

.containerAuthorization button {
    background-color: steelblue;
    border: none;
    border-radius: 10px;
}

.photoUserAuthorization {
    width: 40px;
    height: 33px;
    border-radius: 5px;
}