.paginator {
    margin: 3px;
    align-items: center;
}

.preloader {
    margin-left: 35%;
}

.wrapperSpan {
    background: #ececec;
    border: gray 1px solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 1px;
}

.button {
    cursor: pointer;
    border-radius: 5px;
    border: 1px gray solid;
    background: #6495ed;
    margin: 0 5px 4px;
    padding-top: 3px;
    color: white;
}

.error {
    color: red;
}

.active {
    font-weight: bold;
}